.place__title-like {
  background-image: url(../../../images/like.svg);
  background-size: contain;
  background-position: center;
  object-fit: cover;
  background-repeat: no-repeat;
  border: none;
  width: 22px;
  height: 18px;
  background-color: #fff;

}
