@import url(./__image/place__image.css);
@import url(./__title/place__title.css);
@import url(./__title-text/place__title-text.css);
@import url(./__title-like/place__title-like.css);

.place {
  color: #000;
  background-color: #fff;
  border-radius: 10px;
  /*width: 282px;*/
  /*min-height: 361px;*/
}
